.gradle
.idea

/buildSrc/build
/buildSrc/src/*-generated/
/build

/integration/*/build
/integration/*/out
/integration/*/buildSrc/build
/integration/*/buildSrc/out
/integration/*/buildSrc/src/*-generated
/integration/*/buildSrc/src/*-implicit

/modules/*/build
/modules/*/out
/modules/*/src/*-generated

/samples/build
/samples/*/build
/samples/**/*-generated