/.gradle
/.idea
/build

/buildSrc/build
/buildSrc/out
/buildSrc/src/*-generated

/modules/*/build
/modules/*/out
/modules/*/src/*-generated

/runners/build
/runners/*/build
/runners/*/out
/runners/**/*-generated

/samples/build
/samples/*/build
/samples/*/out
/samples/**/*-generated

/tests/*/build
/tests/*/out