.gradle
.idea
/buildSrc/build
/buildSrc/src/*-generated/
/build
/modules/*/build
/modules/*/buildSrc/src/*-generated
/modules/*/buildSrc/src/*-implicit
/modules/*/src/*-generated
/samples/build
/samples/*/build
/samples/**/*-generated

**/out

*.iml